<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.daisydos.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daisydos</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DaisyDos needs access to your photo library to allow you to attach photos to your tasks and habits.</string>
	<key>NSCameraUsageDescription</key>
	<string>DaisyDos needs access to your camera to allow you to take photos and attach them to your tasks and habits.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>DaisyDos needs permission to send notifications to remind you about upcoming tasks and habit completions.</string>
</dict>
</plist>
